<!-- {{contactName}} -->
<!-- {{contact|json}} -->
<div class="container">
    <div class="row">
        <h1 class="text-center my-3">Add Contact Details</h1>
        <div class="col-6">
            <!--form-->
            <form>
                <div class="form-floating my-3">
                   <!--Id-->
                   <input [(ngModel)]="contact.id" name="id" type="text" class="form-control" id="floatingInput12" placeholder="ID">
                   <label for="floatingInput12">ID</label>
                 </div>
                    <!--Full Name-->
                    <div class="form-floating my-3">
                    <input [(ngModel)]="contact.name" name="name" type="text" class="form-control" id="floatingInput1" placeholder="Full Name">
                    <label for="floatingInput1">Full Name</label>
                  </div>
                  <!--photo url-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.photourl" name="photourl" type="text" class="form-control" id="floatingPhoto" placeholder="Photo Url">
                    <label for="floatingPhoto">Photo Url</label>
                  </div>
                  <!--email-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.email" name="email" type="email" class="form-control" id="floatingemail" placeholder="name@example.com">
                    <label for="floatingemail">Email address</label>
                  </div>
                  <!--mobile-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.phone" name="phone" type="text" class="form-control" id="floatingMobile" placeholder="Mobile">
                    <label for="floatingMobile">Mobile</label>
                  </div>
                  <!--company Name-->
                  <div class="form-floating mb-3">
                    
                    <input [(ngModel)]="contact.company" name="company" type="text" class="form-control" id="floatingCompany" placeholder="Company Name">
                    <label for="floatingCompany">Company Name</label>
                  </div>
                  <!--title-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.title" name="title" type="text" class="form-control" id="floatingTitle" placeholder="Title">
                    <label for="floatingTitle">Title</label>
                  </div>
                  <!--group-->
                  <div class="mb-3 form-floating">
                        <select [(ngModel)]="contact.GroupId" name="GroupId" class="form-control">
                            <option selected hidden>{{contact.GroupId}}</option>
                            <option [value]="group.id" *ngFor="let group of allGroups">{{group.name}}</option>
                           
                        </select>
                  </div>
                 
            </form>
             <!--button-->
            <div class="text-center">
              <input type="button" (click)="addContact()" routerLink="/" value="Submit" class="btn btn-outline-dark my-3">
        </div>
        </div>
        <div class="col-6">
        <!--img-->
        <img width="100%" height="500px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNR3EKsBHlVlN5UFoaKuXyVaeyUy3yNR5HaQ&usqp=CAU">
        </div>
    </div>
</div>
