<!-- {{contact|json}} -->
<div class="container">
    <div class="row">
        <h1 class="text-center my-3">Update Contact Details</h1>
        <div class="col-6">
            <!--form-->
            <form>
                <div class="form-floating my-3">
                    <!--Full Name-->
                    <input [(ngModel)]="contact.name" name="contactname" type="text" class="form-control" id="floatingInput1" placeholder="Full Name">
                    <label for="floatingInput1">Full Name</label>
                  </div>
                  <!--photo url-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.photourl" name="photourl" type="text" class="form-control" id="floatingPhoto" placeholder="Photo Url">
                    <label for="floatingPhoto">Photo Url</label>
                  </div>
                  <!--email-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.email" name="email" type="email" class="form-control" id="floatingemail" placeholder="name@example.com">
                    <label for="floatingemail">Email address</label>
                  </div>
                  <!--mobile-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.phone" name="phone"type="text" class="form-control" id="floatingMobile" placeholder="Mobile">
                    <label for="floatingMobile">Mobile</label>
                  </div>
                  <!--company Name-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.company" name="company" type="text" class="form-control" id="floatingCompany" placeholder="Company Name">
                    <label for="floatingCompany">Company Name</label>
                  </div>
                  <!--title-->
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.title" name="title" type="text" class="form-control" id="floatingTitle" placeholder="Title">
                    <label for="floatingTitle">Title</label>
                  </div>
                  <!--group-->
                  <div class="mb-3 form-floating">
                        <select [(ngModel)]="contact.GroupId" name="groupid" class="form-control">
                            <option value="" selected hidden disabled>Select</option>
                            <option [value]="grp.id" *ngFor="let grp of groups">{{grp.name}}</option>
                           
                        </select>
                  </div>
                  <!--button-->
                  <div class="text-center">
                        <input (click)="updateContact()" type="button"  value="Submit" class="btn btn-outline-dark my-3">
                  </div>
            </form>
        </div>
        <div class="col-6">
        <!--img-->
        <img width="100%" height="500px" [src]="contact.photourl">
        </div>
    </div>
</div>

